#introduction{
    background-color: #FAF3EA;;
    .pic-text{
        p{
            font-weight: 700;
            font-size: 22px;
        }
        span{
            color: #898989;
            font-weight: 500;
        }
    }

}